/* ==== NASLOVNA STRANICA ==== */
.home-page {
    text-align: center;
}

.home-page .title {
    margin-top: 40px;
    font-size: 44px;
}

/* NAVIGACIJA */
.home-page nav {
    margin-top: 30px;
}

.home-page nav a {
    display: block;
    width: 300px;
    margin: 12px auto;

    padding: 12px 0;
    text-decoration: none;
    color: black;

    background-color: #e6e6e6;
    border: 2px solid black;
    border-radius: 22px;
    font-size: 18px;
}

.home-page nav a:hover {
    background-color: #d0d0d0;
}
