/* ===== SAMO STRANICA POVIJEST ===== */

.povijest-page .title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 40px;
}

.povijest-page .text-box {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px 40px;

    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.povijest-page .text-box p {
    text-align: left;
    line-height: 1.7;
    font-size: 18px;
}

.povijest-page .back-button {
    display: block;
    width: fit-content;
    margin: 30px auto 0 auto;

    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 20px;

    text-decoration: none;
    color: black;
    background-color: #e6e6e6;
}

.povijest-page .back-button:hover {
    background-color: #d0d0d0;
}
